<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games News</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css
    ">
</head>
<body class="bg-light-dark">
    <div class="jumbotron bg-info py-3 d-flex justify-content-center">
        <h1>Videogames News Aggregator</h1>
        <!-- <a class="btn " href="/">Refresh News</a> -->
    </div>
    <div class="container mt-5">
        <div class="row">

            <div class="col-6">
                <h3 class="text-center mb-4"> News from Levelup.com</h3>
                    <!-- {{lu_news}} -->
                <div class="card text-bg-light">
                {% for n in lu_news %}
                    <div class="m-2 py-2">
                        <h5 class="">
                            <!-- {% for h in lu_as %}  
                            <a href="{{h}}"></a>  
                            {% endfor %} -->
                            {{n}} 
                        </h5>
                    </div>
                <hr>
                    {% endfor %}
                </div>
                     
            </div>

            <div class="col-6">
                <h3 class="text-center mb-4">News from Eurogamer.es</h3>
                    <div class="card text-bg-light">
                        {% for n in eu_news %}
                            <div class="m-2 py-2">
                                <h5>
                                    <!-- {% for h in eu_as %}  
                                    <a href="{{h}}"></a>  
                                    {% endfor %} -->
                                    {{n}} 
                                </h5>
                            </div>
                        <hr>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
</body>
</html>