<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games News</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css
    ">
</head>
<body>
    <div class="jumbotron">
        <h1>Game News Aggregator</h1>
        <a href="/">Refresh News</a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                    <h3 class="text-centre"> News from Levelup</h3>
                    <!-- {{lu_news}} -->
                    {% for n in lu_news %}
                        <h5>
                            {% for h in lu_as %}  
                            <a href="{{h}}"></a>  
                            {% endfor %}
                            {{n}} 
                        </h5>
                    <hr>
                    {% endfor %}
                    <br>
            </div>
            <div class="col-6">
                    <h3 class="text-centre">News from Eurogamer</h3>
                    {% for n in eu_news %}
                        <h5>
                            {% for h in eu_as %}  
                            <a href="{{h}}"></a>  
                            {% endfor %}
                            {{n}} 
                        </h5>
                    <hr>
                    {% endfor %}
                    <br>
            </div>
        </div>
    </div>
</body>
</html>